body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.navbar {
  background-color: #000;
  border-color: transparent;
  border: none !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  border-bottom: 3px solid red;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.container-fluid {
  background: #eaeee6;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 10px;
}

h3.banner-text {
  font-size: 20px;
  color: #526768;
  margin-bottom: 20px;
}

img.git {
  width: 35px;
  height: 35px;
  margin:-2px 25px 0 0;
  opacity: .7;
}

header {
  display: none;
}

code, kbd, pre, samp {
  font-family: 'Droid Sans Mono', Menlo, Monaco,Consolas, "Courier New", monospace;
}

.x {
  cursor: pointer;
  margin-top: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  right: 30px;
}

.inner-text {
  margin-right: 5px;
  line-height: 1.3em;
}

header.animate {
  height: 90px;
  position: relative;
  -webkit-animation: dropHeader 0.7s ease-out;
  -moz-animation: dropHeader 0.7s ease-out;;
  animation: dropHeader 0.7s ease-out;;
}

.jumbotron {
  text-align: center;
  background-color: #253b3f;
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron p {
  margin: 15px auto 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

.hero-img {
  width: 50%;
  margin: 50px auto 25px;
}

.btn-primary {
  color: #fff;
  background-color: #ff0c3e;
  border-color: transparent;
  padding: 10px 75px !important;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #6a8484;
  border-color: transparent;
}

h1 {
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff !important;
  letter-spacing: 3px;
}



h2 {
  margin: 50px auto 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

h4 {
  font-size: 20px;
}

p {
  margin-bottom: 20px;
  line-height: 1.5em;
  color: #999;
}

.callout {
  min-height: 200px;
  width: 100%;
  float: left;
  background-color: #485a5e;
  background-image: -moz-linear-gradient(top, #485a5e, #485a5e);
  position: relative;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  margin: 50px 0;
}

.callout:after {
  border-radius: 2px;
  content: "";
  position: absolute;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: -14px;
  border-width: 14px;
  border-style: solid;
  border-color: transparent #485a5e #485a5e transparent;
  top: 50%;
  margin-top: -14px;
}


.callout a {
  color: #ff0c3e;
}

.magic {
  text-align: center;
  display: block !important;
}

.nav-tabs {
  margin-top: 15px;
}

.nav-tabs>li>a {
  background: #ccc;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

.nav-tabs>li.see-console>a {
  background:transparent;
  color: #000;
}

.nav-tabs>li.teaser>a {
  color: transparent !important;
}

.tab-content pre {
  color: #fff;
  background-color: #253b3f;
}

#menu1 {
  min-height: 351px;
}

.visual-wrapper {
  background: url('../assets/ledgerstoday@2x.png');
  background-size: contain;
  background-repeat: repeat-y;
  height: 100%;
  min-height:790px;
}

.example-intro {
  max-width: 75%;
}

.color1 {
  color: #4aa7a4;
}

.color2 {
  color: #ffb91d;
}

hr {
  max-width: 550px;
  margin: 20px auto;
}

footer {
  margin: 80px 0 25px;
}

footer a {
  color: #ff0c3e;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.twitter-time-widget {
  margin-bottom: 50px;
}

.docs-wrapper,
.community-wrapper {
  margin-top: 55px;
}

.sidebar {
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

ul.nav.nav-sidebar {
    border-bottom: 1px solid #ccc;
}

li.nav-label {
  font-weight: bold;
  padding-top: 10px;
}

.nav-sidebar>li>a {
  color: #666;
}

.nav-sidebar>li.nav-label {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #ff0c3e;
}

.page-header {
  color: #000 !important;
}

@media (min-width: 768px) {

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }

}

@media (max-width: 768px) {
  .jumbotron {
    margin-bottom: 0;
    padding: 0;
  }

  .x {
    right: 5px;
    top: 0;

  }
}

@media (max-width: 992px) {
  h3.banner-text {
    font-size: 16px;
  }
  .x {
    margin-top: 6px;

  }
}

@media (max-width: 651px) {
  h3.banner-text {
    text-align: left;
  }

  img.git {
    float: left;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  img.git {
    float: left;
    margin: 0 10px 0 0;
  }

  .x {
    font-weight: bold;
    right: 0;
  }

  h3.banner-text {
    font-size: 14px;
    max-width: 330px;
  }
}


@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-90px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-90px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-90px);
    }
    100% {
        transform: translateY(0);
    }
}
