body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 26px;
  color: #555;
  position: relative;
}

.navbar {
  background-color: #000;
  border-color: transparent;
  border: none !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  border-bottom: 3px solid red;
}

.navbar-default .navbar-nav>li>a {
  color: rgba(255,255,255,0.7);
}

.container-fluid {
  background: #eaeee6;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 10px;
}

h3.banner-text {
  font-size: 20px;
  color: #526768;
  margin-bottom: 20px;
}

img.git {
  width: 35px;
  height: 35px;
  margin:-2px 25px 0 0;
  opacity: .7;
}

.jumbotron h1 {
  color: #fff;
}

header {
  display: none;
}

code, kbd, pre, samp {
  font-family: 'Droid Sans Mono', Menlo, Monaco,Consolas, "Courier New", monospace;
}

pre {
  border: none;
  border-radius: 0;
}

pre code {
  overflow: auto;
  white-space: pre;
}

.x {
  cursor: pointer;
  margin-top: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  right: 30px;
}

.inner-text {
  margin-right: 5px;
  line-height: 1.3em;
}

header.animate {
  height: 90px;
  position: relative;
  -webkit-animation: dropHeader 0.7s ease-out;
  -moz-animation: dropHeader 0.7s ease-out;;
  animation: dropHeader 0.7s ease-out;;
}

.jumbotron {
  text-align: center;
  background-color: #253b3f;
  font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron p {
  margin: 15px auto 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

.hero-img {
  width: 50%;
  margin: 50px auto 25px;
}

.btn-primary {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: #ff0c3e;
  border-color: transparent;
  padding: 10px 75px !important;
  border-radius: 3px;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #6a8484;
  border-color: transparent;
}
.wrapper ul {
  padding: 0 20px 26px 20px;
}

ul.list-group {
  padding-left: 0;
}

.wrapper li {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 6px;
}

a:hover{
  color: #ff0c3e;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  margin-top: 26px;
  margin-bottom: 20px;
  line-height: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

p {
  padding-bottom: 26px;
  color: #555;
  margin: 0;
}

p.intro {
 font-size: 24px;
 line-height: 30px;
 margin: 26px 0px 0px 0px;
 font-weight: 300;
 font-style: normal;
}

.callout {
  min-height: 200px;
  width: 100%;
  float: left;
  background-color: #485a5e;
  background-image: -moz-linear-gradient(top, #485a5e, #485a5e);
  position: relative;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  margin: 50px 0;
}

.callout:after {
  border-radius: 2px;
  content: "";
  position: absolute;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: -14px;
  border-width: 14px;
  border-style: solid;
  border-color: transparent #485a5e #485a5e transparent;
  top: 50%;
  margin-top: -14px;
}


.callout a {
  color: #ff0c3e;
}

.magic {
  text-align: center;
  display: block !important;
}

.nav-tabs {
  margin-top: 15px;
  border: none;
}

.nav-tabs>li>a {
  background: #ccc;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

.nav-tabs>li.see-console>a {
  background:transparent;
  color: #000;
}

.nav-tabs>li.teaser>a {
/*  color: transparent !important;*/
}

.tab-content pre {
  color: #fff;
  background-color: #373e3f;
  margin: 6px 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #373e3f;
  border: none;
  border-bottom-color: transparent;
  font-size: 15px;
  padding: 7px 15px;
}

.nav-tabs>li>a {
  border: none;
  border-radius: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  font-weight: 400;
  font-size: 15px;
  background-color: #9a9a9a;
  color: #fff;
  padding: 7px 15px 7px 15px;
}

.nav-tabs>li {
  margin-bottom: -6px;
  border: none;
}

.nav-tabs>li>a:hover {
    background-color: #737373;
    border: none;
}

li.see-console {
  margin-right: -2px;
}

li.see-console>a:hover {
  color: #fff;
}

#menu1 {
  min-height: 351px;
}

code.bash {
  max-height: 500px;
}

.visual-wrapper {
  background: url('../assets/ledgerstoday@2x.png');
  background-size: contain;
  background-repeat: repeat-y;
  height: 100%;
  min-height:790px;
}

.example-intro {
  max-width: 75%;
}

.color1 {
  color: #4aa7a4;
}

.color2 {
  color: #ffb91d;
}

hr {
  max-width: 550px;
  margin: 20px auto;
}

footer {
  margin: 80px 0 25px;
  font-size: 15px;
}

footer a {
  color: #ff0c3e;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.twitter-time-widget {
  margin-bottom: 50px;
}

.docs-wrapper,
.community-wrapper,
.videos-wrapper {
  margin-top: 55px;
}

.sidebar {
    z-index: 1000;
    display: block;
    padding-right: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 5px;
}

ul.nav.nav-sidebar {
    border-bottom: 1px solid #ccc;
    padding: 26px 0px;
}

li.nav-label {
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 10px;
  letter-spacing: 0.5px;
  color: #333;
}

.nav-sidebar>li>a {
  color: #666;
  font-size: 15px;
  padding: 0px 15px;
}

.architecture-overview .nav-sidebar li.nav-label a {
  color: #000;
}

.architecture-overview .nav-sidebar li.nav-label {
  border-top: 1px solid #ccc;
  padding-top: 22px !important;
  padding-left: 0 !important;
  margin-top: 15px;
}

.nav-sidebar>li>a:hover,
.nav-sidebar>li>a:focus  {
  color: #ff0c3e;
  background-color: transparent;
}

.nav-sidebar>li.nav-label {
    position: relative;
    display: block;
    padding: 0px 15px 10px 15px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #ff0c3e;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.page-header {
  color: #333333 !important;
  border: none;
  margin: 30px 0 0;
}

.logo {
  width: 20px;
  height: 20px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

img.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.canvas-wrapper {
/*  display:block;
  width:100%;
  margin-left: -130px;*/
}

@media (min-width: 768px) {

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }

}

@media (max-width: 768px) {
  .jumbotron {
    margin-bottom: 0;
    padding: 0;
  }

  .x {
    right: 5px;
    top: 0;

  }
}

@media (max-width: 992px) {
  h3.banner-text {
    font-size: 16px;
  }
  .x {
    margin-top: 6px;

  }
}

@media (max-width: 651px) {
  h3.banner-text {
    text-align: left;
  }

  img.git {
    float: left;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  img.git {
    float: left;
    margin: 0 10px 0 0;
  }

  .x {
    font-weight: bold;
    right: 0;
  }

  h3.banner-text {
    font-size: 14px;
    max-width: 330px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}

h3:before,
.section-title:before {
    display: block;
    content: "";
    margin-top: -60px !important;
    height: 60px;
    visibility: hidden;
    position: relative;
    width: 0;
}

.overview-back {
  margin: 29px 0 -5px 13px;
}

.overview-back a {
  width: 100%;

}

a.section-title {
  border-bottom: 1px solid #ccc;
}

.overview-back a {
  color: #333;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.overview-back a:hover{
  color: #ff0c3e;
}

.nav-fixed {
  top: 30px;
  position: fixed;
  width: 268px;
}

.blue {
  color: #f09;
}

.red {
  color: red;
}

.onoffswitch {
  position: relative;
  width: 30px;
  top: 17px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 15px;
  padding: 0;
  line-height: 15px;
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 15px;
  background-color: #000000;
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block; width: 15px; margin: 0px;
  background: #000;
  position: absolute; top: 0; bottom: 0;
  right: 15px;
  border: 2px solid rgba(255,255,255,0.7); border-radius: 15px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #FF0C3E;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #FF0C3E;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

.typewriter-wrapper {
  height: 65px;
}

.typewriter-intro {
  position: absolute;
  margin-left: 15px !important;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-90px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-90px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-90px);
    }
    100% {
        transform: translateY(0);
    }
}


/*dark styles*/

.dark .jumbotron {
  background-color: #253b3f;
}

.dark .jumbotron h1 {
  color: #fff;
}

.dark .jumbotron p {
  color: #fff;
}
