<div class="col-sm-4 sidebar">
  <div id="sidebarContent">
    <ul class="nav nav-sidebar">
      <li class="nav-label">Quick Start</li>
      <li{%if page.active-sub-nav == "Overview" %}  class="active"{% endif %}><a href="../overview.html">Overview</a></li>
      <li{%if page.active-sub-nav == "Getting Started" %}  class="active"{% endif %}><a href="../getting-started.html">Getting Started</a></li>
      <li{%if page.active-sub-nav == "Why Interledger" %}  class="active"{% endif %}><a href="../why-interledger.html">Why Interledger</a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li class="nav-label">Community Resources</li>
      <li{%if page.active-sub-nav == "Videos" %}  class="active"{% endif %}><a href="../videos.html">Videos</a></li>
      <li{%if page.active-sub-nav == "Libraries" %}  class="active"{% endif %}><a href="../libraries.html">Libraries &amp; Tools</a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li class="nav-label">Specs</li>
      <li><a href="rfcs/0001-interledger-architecture/">Interledger Architecture</a></li>
  <!--     <li><a href="rfcs/0002-crypto-conditions/">Crypto-conditions</a></li> -->
      <li><a href="rfcs/0003-interledger-protocol/">Interledger Protocol (ILP)</a></li>
      <li><a href="rfcs/0015-ilp-addresses/">Interledger Addresses</a></li>
      <li><a href="rfcs/0016-pre-shared-key/">Pre-Shared Key (PSK) Protocol</a></li>
      <li><a href="rfcs/0011-interledger-payment-request/">Interledger Payment Request (IPR)</a></li>
      <li><a href="rfcs/0009-simple-payment-setup-protocol/">Simple Payment Setup Protocol (SPSP)</a></li>
      <li><a href="rfcs/0004-ledger-plugin-interface/">Javascript Ledger Plugin Interface</a></li>
      <li><a target="_blank" href="https://w3c.github.io/webpayments/proposals/interledger-payment-method.html">W3C Web Payments Interledger Payment Method</a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li class="nav-label">Technical Documentation</li>
      <li><a href="{{site.interledgerjs_baseurl}}five-bells-ledger/apidoc/">five-bells-ledger</a></li>
      <li><a href="{{site.interledgerjs_baseurl}}ilp-connector/apidoc/">ilp-connector</a></li>
      <li><a href="{{site.interledgerjs_baseurl}}ilp-kit/apidoc/">ilp-kit</a></li>
      <li><a href="{{site.interledgerjs_baseurl}}five-bells-condition/jsdoc/">five-bells-condition</a></li>
      <li><a href="{{site.interledgerjs_baseurl}}five-bells-shared/jsdoc/">five-bells-shared</a></li>
      <li><a href="{{site.interledgerjs_baseurl}}five-bells-notary/apidoc/">five-bells-notary</a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li class="nav-label">Whitepaper</li>
      <li><a href="http://interledger.org/interledger.pdf">Download PDF</a></li>
    </ul>
  </div>
</div>
