body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 26px;
  color: #555;
  position: relative;
}

.navbar {
  background-color: #3C4F55;
  /* background-color: transparent; */
  padding-top: 0;
  border-color: transparent;
  border: none !important;
}

/* .navbar  */

.navbar-light .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link {
  color: #FFFEFD;
  font-size: 16px;
  padding: 13px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #EA3646;
}

.navbar-light .navbar-nav .cornerlink,
.navbar-dark .navbar-nav .cornerlink {
  margin-left: 20px;
  font-weight: bold;
}

.nav-innerpage {
  background-color: transparent;
}
.nav-innerpage .navbar-nav .nav-link {
  color: #1E1F1E;
  font-size: 16px;
}

.navbar-leftbg {
  width: 23%;
  background-color: #3C4F55;
}

.navbar-collapse.show .nav-link {
  color: #FFFEFD !important;
}

/* .nav-innerpage ul.nav.navbar-nav {
  background-color: black;
} */



.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #000;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  /* background-color: rgba(255,255,255,0.2); */
  color: #fff;
  background: transparent;
  /* border-bottom: 3px solid red; */
}

.cornerbox {
  z-index: -10;
  border-left: 1px solid #B7B6B6;
  border-bottom: 1px solid #B7B6B6;
  width: 130px;
  height: 72px;
  position: absolute;
  top: 0;
  right: 0;
}
.menu-overlay.active {
  display: block;
}
.menu-overlay {
  display: none;
  background-color: #3C4F55;
  left: 0;
  height: 350px;
  width: 100%;
  /* opacity: 0.88; */
  /* filter: alpha(opacity=80); */
  position: fixed;
  top: 0;
  z-index: -1;
}



.container-fluid {
  /* background: #eaeee6; */
  /* text-align: center; */
  /* position: fixed; */
  width: 100%;
  z-index: 100;
  /* padding: 10px; */
  padding-right: 0;
  padding-left: 0;
}

h3.banner-text {
  font-size: 20px;
  color: #526768;
  margin-bottom: 20px;
}

.getting-started .img-responsive {
  padding-bottom: 26px;
}

img.git {
  width: 35px;
  height: 35px;
  margin:-2px 25px 0 0;
  opacity: .7;
}



.jumbotron h1 {
  /* font-family: 'Titillium Web', sans-serif; */
  color: #FFFEFD;
  font-weight: 300;
  margin: 29px 0 0;
  font-size: 49px;
  line-height: 113%;
}

header {
  display: none;
}

code, kbd, pre, samp {
  font-family: 'Droid Sans Mono', Menlo, Monaco,Consolas, "Courier New", monospace;
}

pre {
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: #373e3f;
  margin-bottom: 26px;
}

code {
  /* background-color: rgba(0,0,0,0.05); */
  border-radius: 0px;
  color: #000;
}

pre code {
  overflow: auto;
  white-space: pre;
}

.nohighlight {
  margin-top: 50px;
}
.nohighlight p {
  color: white;
  padding: 0 10px;
  font-size: 13px;
}

a {
  color: #ff0c3e;
}

.x {
  cursor: pointer;
  margin-top: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  right: 30px;
}

.inner-text {
  margin-right: 5px;
  line-height: 1.3em;
}

header.animate {
  height: 90px;
  position: relative;
  -webkit-animation: dropHeader 0.7s ease-out;
  -moz-animation: dropHeader 0.7s ease-out;;
  animation: dropHeader 0.7s ease-out;;
}

.callout-banner {
  margin: -45px 0 45px;
  position: relative;
  background-color: rgba(0, 150, 143, 0.7);
  -o-transition: .1s;
  -webkit-transition: .1s;
  transition: .1s
}

.callout-banner:hover {
  background-color: #73d0c7;
  -o-transition: .1s;
  -webkit-transition: .1s;
  transition: .1s
}

.callout-banner p {
  padding: 3px 0;
  font-weight: 300;
  color: #fff;
}

.callout-banner a {
  font-weight: 500;
  color: #fff;
}

.callout-banner strong {
  font-weight: 600;
}

.jumbotron {
  margin-bottom: 45px;
  padding-top: 100px;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  background: #3C4F55 ;
  background-image: url('../img/bg_pattern.png');
  background-repeat: no-repeat;
  border-radius: 0 !important;
  /* background-image: url('../img/bg_pattern.png'), linear-gradient(to right, #34393c  0%, #375d65  100%); */
  /* background-image: url('../img/bg_pattern.png'), -webkit-linear-gradient(left, #34393c  0%, #375d65  100%); */
  /* background-image: url('../img/bg_pattern.png'), -moz-linear-gradient(left, #34393c  0%, #375d65  100%); */
}

.jumbotron p {
  margin: 15px auto 25px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFEFD;
  font-size: 16px;
  line-height: 175%;
  font-weight: 300;
}

.hero-img {
  max-width: 230px;
  margin: 20px auto 25px;
}

.btn-primary {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: #EA3646;
  border-color: transparent;
  padding: 15px 75px !important;
  border-radius: 0;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #ff3d4b;
  border-color: transparent;
}

.getting-started-button {
  float: right;
  
}

.jumbotron h1,
.typewriter-intro {
  /* text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2); */
}

.typewriter,
.typed-strings {
  display: none;
}

.wrapper ul {
  padding: 0 20px 26px 20px;
}

ul.list-group {
  padding-left: 0;
}

.wrapper li {
  font-size: 16px;
  line-height: 20px;
/*  padding-bottom: 6px;*/
}

a:hover{
  color: #ff0c3e;
}

b, strong {
  font-weight: 600;
}

.label {
font-weight: 400;

}

h1 {
  font-size: 48px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}

h2 {
  padding: 0;
  margin: 26px 0 13px 0;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}

h3{
  padding: 0;
  margin: 13px 0 13px 0;
  font-size: 26px;
  font-weight: 400;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  line-height: 32px;
  text-transform: initial;
  letter-spacing: 0;
}

h4 {
 font-weight: 800;
 font-style: normal;
 font-size: 15px;
 text-transform: uppercase;
 letter-spacing: 0.5px;
 margin-top: 13px;
 margin-bottom: 6px;
 color: #333;
}

.lead {
  font-weight: 400 !important;
  font-size: 18px;
}

.benefit h3 {
  font-size: 20px;
  font-weight: 900;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: initial;
  letter-spacing: 0;
}

h2.simple {
  font-size: 32px;
  font-weight: 600;
}

.doc-content h2 {
  font-family: inherit;
  font-size: 25px;
  line-height: 150%;
  margin-bottom: 0;
}
.doc-content p {
  font-size: 16px;
}
.doc-content .blurb {
  font-size: 20px;
  margin-top: 20px;
}



.spec h2 {
  padding: 0;
  margin: 26px 0 13px 0;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}

.spec h3 {
  padding: 0;
  margin: 13px 0 13px 0;
  font-size: 26px;
  font-weight: 400;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  line-height: 32px;
  text-transform: initial;
  letter-spacing: 0;
}

.spec h4 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-top: 0;
  text-transform: none;
  letter-spacing: 0;
}

.spec h5 {
 padding: 0;
 margin: 13px 0 6px 0;
 font-weight: 700;
 font-style: normal;
 font-size: 17px;
 color: #333;
}

.spec h6 {
 padding: 0;
 margin: 13px 0 13px 0;
 font-weight: 600;
 font-style: normal;
 font-size: 13px;
 text-transform: uppercase;
 letter-spacing: 0.5px;
 color: #333;
}

.spec .nav-sidebar li.nav-label a {
  color: #000;
}

.spec .nav-sidebar li.nav-label a:hover {
  color: #ff0c3e;
}

.spec .nav-sidebar li.nav-label {
  border-top: 1px solid #ccc;
  padding-top: 22px !important;
  padding-left: 0 !important;
  margin-top: 15px;
}

.spec h1 {
  font-family: 'Titillium Web', sans-serif;
  margin-top: 30px;
}

p {
  padding-bottom: 26px;
  color: #555;
  margin: 0;
}

p.intro {
 font-size: 24px;
 line-height: 30px;
 margin: 26px 0px 0px 0px;
 font-weight: 300;
 font-style: normal;
}

code, kbd, pre, samp {
  font-family: 'Droid Sans Mono', Menlo, Monaco,Consolas, "Courier New", monospace;
}

p > code {
  background-color: rgba(0,0,0,0.05);
  border-radius: 0px;
  color: #000;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 26px;
}

th {
  background-color: #f5f5f5;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  padding: 4px 8px;
  font-size: 15px;
  border: #e0e0e0 1px solid;
  color: #333;
}

.table{
  margin-bottom: 26px;
}

.table>thead:first-child>tr:first-child>th{
    border-top: #e0e0e0 1px solid;;
}

td {
  vertical-align: middle;
  padding: 10px 8px;
  border: #e0e0e0 1px solid;
  font-size: 15px;
}

blockquote {
  padding: 8px 8px 0px 14px;
  margin-bottom: 26px;
  font-size: 17.5px;
  border-left: 3px solid #eee;
  background-color: rgba(0, 0, 0, 0.02);
}

.alert {
  padding: 8px 8px 10px 14px;
  margin-bottom: 0px;
  border: 0px solid transparent;
  border-left: 3px solid transparent;
  border-radius: 0px;
}

.alert-danger {
  color: #333;
  background-color: rgba(255, 12, 12, 0.2);
  border-color: #ff0c3e;
}

.alert-info {
  color: #333;
  background-color: rgba(91,197,170, 0.2);
  border-color: #1fc5aa;
}

.alert-warning {
  color: #333;
  background-color: rgba(255,206,118, 0.2);
  border-color: #ffce76;
}

.code-img {
  width: 50px;
  margin: auto;
  height: 40px;
}

.hop-img {
  width: 65px;
  margin:auto;
  height: 40px;
}

.simple-img {
  width: 43px;
  margin: auto;
  height: 40px;
}

.callout {
  min-height: 200px;
  width: 100%;
  float: left;
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #fff, #fff);
  position: relative;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  margin: 100px 0;
}

.callout:after {
  border-radius: 2px;
  content: "";
  position: absolute;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: -14px;
  border-width: 14px;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
  top: 50%;
  margin-top: -14px;
}

.callout p {
  color: rgba(51,51,51,.6);
}

.callout h2 {
  font-size: 22px !important;
  font-weight: 400 !important;
}

h2.sending-amount {
  margin: 40px auto 0;
  font-weight: 400 !important;
}

h2.receiving-amount {
  margin-bottom: 0;
  margin-top: 15px;
  font-weight: 400 !important;
}

.account {
  font-size: 14px;
  color: rgba(51,51,51,0.7);
}

hr {
  border-top: 1px solid rgba(51,51,51,0.3);
}

.benefit {
  text-align: left;
  float: left;
  padding: 0 5%;
}

.benefit p {
  margin-top: 0;
  margin-bottom: 10px;
  color: #1E1F1E;
}

.example-intro {
  /* color: rgba(51,51,51,0.6); */
  max-width: 250px;
}

.example-wrapper h2 {
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #1E1F1E;
}

.callout a {
  color: #ff0c3e;
}

.magic {
  display: block;
  max-width: 30px;
  margin: 30px auto;
}

.nav-tabs {
  /* margin-top: 15px; */
  border: none;
  margin-bottom: -8px;
  border-top: 1px solid;
  padding-top: 3px;
  padding-bottom: 11px;
  border-right: 1px solid;
  background-color: #FFFEFD;
}

.nav-tabs>li>a {
  background: #FFFEFD;
  /* text-transform: uppercase; */
  font-weight: 700;
  color: #000;
}

.nav-tabs>li.see-console>a {
  background:transparent;
  color: #000;
}

/* .nav-tabs>li.teaser>a {
 color: transparent !important;
} */

.tab-content pre {
  color: #fff;
  background-color: #FFFEFD;
  margin: 6px 0;
  border: 1px solid #1E1F1E;
  padding: 25px 35px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #373e3f;
  border: none;
  border-bottom-color: transparent;
  font-size: 15px;
  padding: 7px 15px;
}

.nav-tabs>li>a {
  border: none;
  border-radius: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  font-weight: 400;
  font-size: 15px;
  /* background-color: #9a9a9a; */
  /* color: #fff; */
  padding: 7px 15px 7px 15px;
}

.nav-tabs>li {
  margin-bottom: -6px;
  border: none;
}

.nav-tabs>li>a:hover {
    background-color: #373e3f;
    border: none;
    color: white;
}

li.see-console {
  margin-right: -2px;
}

li.see-console>a:hover {
  color: #fff;
}

#menu1 pre code {
  height: 293px;
  text-align: center;
  color: #20c6aa;
  line-height: 1.7em;
  padding-top: 20px;
}

#menu2 pre code {
  height: 233px;
  text-align: center;
  color: #20c6aa;
  line-height: 1.7em;
  padding-top: 16px;
  overflow: hidden;
}

#menu2 p {
  padding-bottom: 0;
}

.contribute {
  background-color: #20c6aa;
  margin-top: 20px;
}

.contribute:hover,
.contribute:active,
.contribute:focus {
  background-color: #58d4b5 !important;
}

.tab-content .hljs-comment {
  color: #fff;
}

code.bash {
  max-height: 500px;
}

.visual-wrapper {
  background: url('../img/ledgerstoday@2x.png');
  background-size: contain;
  background-repeat: repeat-y;
  height: 100%;
  min-height:790px;
}

.color1 {
  color: #4aa7a4;
}

.color2 {
  color: #ffb91d;
}

hr {
  max-width: 550px;
  margin: 20px auto;
}

footer {
  margin: 80px 0 25px;
  font-size: 15px;
}

footer a {
  color: #ff0c3e;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 52px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.twitter-time-widget {
  margin-bottom: 50px;
}

.docs-wrapper,
.community-wrapper,
.videos-wrapper {
  margin-top: 55px;
}

/* .content {
  padding-top: 100px;
} */

.right-sidebar {
  padding-top: 100px;
}


/* Left navigation ---------------------------------------------------------- */

.tree_nav {
  top: 48px;
  padding: 44px 24px 48px 50px;
  position: sticky;
  /* max-height: 85vh; */
  top: 48px;
}

.sidebar_pagelist {
  margin-bottom: 12px;
  /* margin-left: 24px; */
  padding-left: 0px;
  list-style-type: none;
  
}
.sidebar_indent {
  margin-top: 10px;
  border-left: 5px solid #4D5B61;
}
.sidebar_indent li {
  padding-left: 20px;
}

.sidebar_indent .active {
  margin-left: -25px;
  border-left: 5px solid #7AB4B0;
  padding-left: 20px;
}

.sidebar_indent a:hover {
  margin-left: -25px;
  border-left: 5px solid #7AB4B0;
  padding-left: 20px;
}
.tree_nav #sidenav a:active {
  color: #7AB4B0;
}

#sidenav a,
.sidenav_parent a {
  text-decoration: none;
  line-height: 200%;
  color: #FFFEFD;
  font-size: 16px;
}
#sidenav a.active-parent {
  font-weight: 700;
}
#sidenav a:hover,
.sidenav_parent a:hover {
  text-decoration: none;
}

#sidenav .card + .card {
  margin: 0;
}

#sidenav .card {
  border-width: 0;
}

#sidenav .card-body {
  padding: 0;
  padding-left: 15px;
}

#sidenav .card-body-single {
  margin-left: -25px;
}

#sidenav .collapse {
  padding-bottom: 0;
}

#sidenav .card-header {
  padding: 0;
  background-color: transparent;
  border-bottom: 0;
}

#sidenav .card {
  padding: 0;
  border-radius: 0;
}

#sidenav .card:only-child {
  border-top: 0;
  background: none;
}

#sidenav .card-header h5 {
  margin-bottom: 0;
  text-transform: none;
  font-size: 1.05rem;
}

#sidenav .card-header h5 .sidenav_cat_title {
  display: block;
  padding: 11px 10px 11px 40px;
}

#sidenav .card-header .sidenav_cat_toggler {
  position: absolute;
  left: 0;
  padding: 10px 12px 12px 12px;
  line-height: 0;

  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transition-duration: 0.3s;
}

#sidenav .card-header .sidenav_cat_toggler {
  width: 24px;
  height: 24px;
  display: block;
  -webkit-mask-image: url(../img/icon-arrow.svg);
  mask-image: url(../img/icon-arrow.svg);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 24px 24px;
  mask-size: 24px 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  border: 12px solid transparent;
}

#sidenav .card-header .sidenav_cat_toggler.collapsed {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition-duration: 0.3s;
}

.xrp-ledger-dev-portal.sidebar-primary .main {
  z-index: 5;
  padding: 44px 24px 48px;
  min-height: 700px;
}


/* Right navigation --------------------------------------------------------- */

.right-sidebar a {
  color: #1E1F1E;
}

.right-sidebar .card {
  position: sticky;
  max-height: 85vh;
  top: 48px;
  overflow: auto;
  padding: 44px 0 48px 24px;
  border: none;
}

.right-sidebar .card-header {
  border-bottom: none;
  background-color: white;
  padding: 10px 0;
}

.right-sidebar .card-header h4 {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 900;
  color: #1E1F1E;
}

.right-sidebar .card-body {
  padding: 0 0 0 16px;
  list-style-type: none;
  border-left: 5px solid #F6F5F4;
}

.right-sidebar ul li {
  list-style-type: none;
  margin-bottom: 8px;
  margin-left: 0;
}

.right-sidebar .level-1 a,
.right-sidebar .separator {
  font-weight: 900;
  font-size: 16px;
  line-height: 200%;
}
.right-sidebar .level-2,
.right-sidebar .method {
  margin-left: 0;
}

.sidebar {
  z-index: 1000;
  display: block;
  padding-right: 40px;
  padding-left: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 120px;
  background: #3C4F55;
}

.sidebar ul {
  list-style: none;
  /* padding-left: 0; */
}

ul.nav.nav-sidebar {
  border-bottom: 1px solid #ccc;
  padding: 26px 0px;
}

li.nav-label {
  font-weight: 800;
  font-size: 16px;
  padding-top: 10px;
  letter-spacing: 0.5px;
  color: #FFFEFD;
}

.sidebar-nav-header {
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  letter-spacing: 0.5px;
  color: #FFFEFD;
}


.nav-sidebar>li>a {
  color: #FFFEFD;
  font-size: 16px;
  padding: 0px 15px;
}

.nav-sidebar>li>a:hover,
.nav-sidebar>li>a:focus  {
  color: #ff0c3e;
  background-color: transparent;
}

.nav-sidebar>li.nav-label {
  position: relative;
  display: block;
  padding: 0px 15px 10px 15px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #ff0c3e;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: rgba(255,255,255,0.7);
}

.page-header {
  color: #333333 !important;
  border: none;
  margin: 27px 0 0;
  font-family: 'Titillium Web', sans-serif;
}

.logo {
  float: left;
  width: 216px;
  height: 34px;
  margin-left: 24px;
  margin-top: 20px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
/* 
img.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
} */

.canvas-wrapper {
  margin-left: -30px;
  margin-top: -10px;
}

.get-started {
  margin-top: 50px;
}

.get-started h3 {
  font-size: 16px;
  color: #1E1F1E;
  font-weight: bold;
}
.get-started h5 {
  font-size: 14px;
  font-weight: bold;
  color: #7AB4B0;
}
.get-started p {
  font-size: 16px;
  line-height: 28px;
  color: #1E1F1E;
}

.tab-content pre code {
    line-height: 1.6em;
    color: #081946;
}

@media (min-width: 768px) {

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }

}

@media (max-width: 768px) {

  footer p {
    text-align: center;
  }

  footer .pull-right {
    float: none !important;
  }

  .callout {
    margin: 40px 0;
  }

  .hero-img {
    margin: 70px auto 25px;
  }

  .callout:after {
    display: none;
  }

  .jumbotron {
    /* padding: 0; */
    text-align: center;
  }

  .typewriter-intro {
    position: relative !important;
  }

  .x {
    right: 5px;
    top: 0;
  }

  .nav-fixed {
    position: relative !important;
    top: 0 !important;
    width: auto !important;
  }
}

@media (max-width: 992px) {

  h3.banner-text {
    font-size: 16px;
  }

  .x {
    margin-top: 6px;
  }

  .cornerbox {
    display: none;
  }

}

@media (max-width: 992px) and (min-width: 768px) {
  .nav-fixed {
    width: 220px !important;
  }
}

@media (max-width: 651px) {
  h3.banner-text {
    text-align: left;
  }

  img.git {
    float: left;
    margin-top: 0;
  }
}

@media (max-width: 480px) {

  img.git {
    float: left;
    margin: 0 10px 0 0;
  }

  .x {
    font-weight: bold;
    right: 0;
  }

  h3.banner-text {
    font-size: 14px;
    max-width: 330px;
  }
}

@media (min-width: 1200px) {

}

h2:before {
  display: block;
  content: "";
  margin-top: -75px !important;
  height: 75px;
  visibility: hidden;
  position: relative;
  width: 0;
}

h3:before,
.section-title:before,
h4:before  {
  display: block;
  content: "";
  margin-top: -60px !important;
  height: 60px;
  visibility: hidden;
  position: relative;
  width: 0;
}

.overview-back {
  margin: 29px 0 -5px 13px;
}

.overview-back a {
  width: 100%;

}

a.section-title {
  border-bottom: 1px solid #ccc;
}

.overview-back a {
  color: #333;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.overview-back a:hover{
  color: #ff0c3e;
}

.nav-fixed {
  top: 30px;
  position: fixed;
  width: 268px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  bottom: 0;
  margin-bottom: 110px;
  border-bottom: none !important;
}

.color1 {
  color: #fd8062;
}

.color2 {
  color: #ffce76;
}

.color3 {
  color: #73e08d;
}

.color4 {
  color: #73d0c7;
}

.color5 {
  color: #d394d0;
}

.example-wrapper {
  margin: 70px auto;
  padding: 50px 0;
  background-color: #F6F5F4;
}
.example-middle {
  margin: 100px 0;
}

.superscript {
  font-size: 17px;
  vertical-align: super;
  font-weight: 800;
  padding-left: 2px;
}

#svgGraphic {
  height: 1000px;
}

.onoffswitch {
  position: relative;
  width: 30px;
  top: 17px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 15px;
  padding: 0;
  line-height: 15px;
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 15px;
  background-color: #000000;
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block; width: 15px; margin: 0px;
  background: #000;
  position: absolute; top: 0; bottom: 0;
  right: 15px;
  border: 2px solid rgba(255,255,255,0.7); border-radius: 15px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #FF0C3E;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #FF0C3E;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}

.typewriter-wrapper {
  height: 56px;
}

.typewriter-intro {
  position: absolute;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-90px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-90px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-90px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform:rotate(45deg) scale(1.3);
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -o-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform:rotate(45deg) scale(1.3);
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -o-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.github-mark {
  float: left;
  margin: -1px 5px -1px -2px;
  color: #fff;
  fill: rgba(255,255,255,0.7);
  white-space: nowrap;
}

.navbar-default .navbar-nav .dropdown:hover .github-mark,
.navbar-default .navbar-nav .dropdown:focus .github-mark,
.navbar-default .navbar-nav .dropdown:active .github-mark
 {
  fill: #fff;
}

.open .github-mark {
  fill: #555 !important;
}
