<!-- navbar -->
<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="logo" alt="interledger" src="assets/img/ilp_icon.png"/> <span> Interledger</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="overview.html">Docs</a></li>
                <li ><a href="libraries.html">Tools</a></li>
                <li ><a href="community.html">Community</a></li>
                <li><a target="_blank" href="https://github.com/interledger">Edit on Github</a></li>
                <li><a href="docs/tutorials/getting-started.html">Get Started</a></li>

            </ul>

        </div>
    </div>
</nav> -->


<div class="container">
<nav class="navbar fixed-top navbar-expand-lg navbar-light {% block topnavclass %}{% endblock %}">
    <a href="/index.html" class="navbar-brand"><img src="/assets/img/ilp_logo.png" class="logo"  height="44" alt="Interledger" /></a>
    <button class="navbar-toggler" type="button" data-toggle="slide-collapse" data-target="#navbarHolder" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarHolder">
      <ul class="nav navbar-nav">

            <li class="nav-item" ><a class="nav-link" href="/overview.html">Docs</a></li>
            <li class="nav-item" ><a class="nav-link" href="/libraries.html">Tools</a></li>
            <li class="nav-item" ><a class="nav-link" href="/community.html">Community</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href="https://github.com/interledger">Edit on Github</a></li>
            <li class="nav-item"><a class="nav-link" href="/getting-started.html">Get Started</a></li>

      </ul><!-- /.navbar-nav -->

    </div>

    <div class="menuoverlay"></div>
  </nav>
  </div>
