<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-10 col-xs-12 float-left">
                    <img src="/assets/img/footerlogo.png">
                </div>
                <div class="col-sm-2 col-xs-12 float-right">
                    <a href="https://twitter.com/interledger"><img src="/assets/img/Twitter.png"></a>
                    <a href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack"><img src="/assets/img/Slack.png"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
