{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}

<div class="jumbotron">
  <div class="container">
      <div class="row">
          
      <div class="col-sm-6">
          <h1><b>Interledger</b> is an open protocol suite for sending payments across different ledgers.</h1>
          <p>Interledger is an open protocol suite for sending payments across different ledgers. Like the Internet, connectors route packets of money across independent networks. The open architecture and minimal protocol enable interoperability for any value transfer system. </p><p> Interledger is not tied to a single company, blockchain, or currency.</p>
          
      </div>
      <div class="col-sm-6">
        <p><a class="btn btn-primary btn-lg getting-started-button" href="/getting-started.html" role="button">Get Started</a></p>
    </div>
</div>
  </div>
</div>

<div class="container">
  
  <!-- benefits section -->
  <div class="row">
        <div class='col-sm-12 col-xs-12'>
            <div class="row">
                    <div class="mx-auto pt-5 pb-5">
                            <h2>Interledger Features</h2>
                    </div>
                </div>

        <img class=" img-responsive" src="/assets/img/features.png">
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="benefit col-sm-4">
              <h3>Code With Money</h3>
              <p>Add payments without being tied to a single currency or payment provider.</p>
          </div>
          <div class="benefit col-sm-4">
              <h3>Multi-Hop Routing</h3>
              <p>Send payments to other ledgers, even if they are multiple hops away.</p>
          </div>
          <div class="benefit col-sm-4">
              <h3>Simple Protocol</h3>
              <p>Inspired by TCP/IP, Interledger is easy to implement and use.</p>
          </div>
      </div>
  </div>

</div> <!-- /container -->

  <!-- example section -->
  <div class="example-wrapper">
        <div class="container">
      
                <div class="row ">
                    <div class='col-sm-12 col-xs-12 '>
                      
                            <div class="row">
                                    <div class="mx-auto pt-sm-5 pb-sm-5">
                                      <h2>Develop for Interledger</h2>
                                    </div>
                                </div>

                          <div class="row">
                                  <div class="col-sm-4 col-xs-12  pt-sm-5 mt-5">


                                            <svg width="154" height="34" viewBox="0 0 154 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M-1.48619e-06 34L0 -2.09815e-06L30.1508 -7.80212e-07L48 16.9964L30.1508 34L-1.48619e-06 34Z" fill="#EA3646"/>
                                                <line x1="58" y1="17.5" x2="154" y2="17.5" stroke="#EA3646" stroke-width="3"/>
                                            </svg>

                                          <h2 class="simple">Simple Sending</h2>
                                          <p class="example-intro">Interledger makes it easy to send money, no matter what ledger you or the recipient are on.</p>
                                  </div>
                                  <div class="col-sm-8 col-xs-12">
                                      <ul class="nav nav-tabs">
                                              <li class="active"><a data-toggle="tab" href="#js2">Javascript</a></li>
                                              <li class="teaser"><a data-toggle="tab" href="#sh2">Command-Line</a></li>
                                              <li class="teaser"><a data-toggle="tab" href="#menu2">&#43;</a></li>
                                          </ul>
                              
                                          <div class="tab-content">
                                              <div id="js2" class="tab-pane active">
<pre><code>const plugin = require('ilp-plugin')()
const fetch = require('ilp-fetch')

fetch('http://localhost:8080/', {
    method: 'GET',
    maxPrice: 5000,
    plugin
})
.then(response => {
    console.log('paid!')
    console.log('got response:', response.text)
})</code></pre>
                                              </div>
                              
                                              <div id="sh2" class="tab-pane">
<pre><code>$ npm install -g ilp-curl moneyd
$ moneyd configure --testnet
$ moneyd start --testnet
$ ilp-curl -X GET http://localhost:8080/
Hello World!</code></pre>
                                              </div>
                              
                                              <div id="menu2" class="tab-pane">
<pre><code>
&lt;!-- Don’t see your language here? --&gt;

Help implement Interledger in your
favorite programming language.
    <p><a class="btn btn-primary btn-lg getting-started-button contribute" target="_blank" href="https://github.com/interledger" role="button">Contribute</a></p>
</code></pre>
                                              </div>
                                          </div>
                                  </div>
                            </div>
                      
                      
          
                        <div class="row example-middle">
                                      <div class="col-sm-5 hidden-xs ml-5">
                                            <img width="338px" class=" img-responsive" src="/assets/img/icn-routing2.png">                                            
                                      </div>
                                      <!-- <div class="col-sm-3 col-xs-12"></div> -->
                                      <div class="col-sm-5 col-xs-12 ">
                                          <h2>Automated Routing</h2>
                                          <p>Interledger takes care of getting your money from ledger A to ledger Z, so you can get back
                                              to building awesome things! If you’re interested, <a
                                                  href="/rfcs/0001-interledger-architecture/">learn more about how the magic works.</a>
                                          </p>
                                      </div>
                                  
                        </div>
                        
                        
                        <div class="row">
          
                              <div class="col-sm-4 col-xs-12  pt-sm-5 mt-sm-5">
                                    <svg width="103" height="48" viewBox="0 0 103 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <line y1="24.5" x2="79" y2="24.5" stroke="#7AB4B0" stroke-width="3"/>
                                        <circle cx="79" cy="24" r="24" fill="#7AB4B0"/>
                                        </svg>

                                        
                                  <h2>Receiving Money</h2>
                                  <p class="example-intro">Interledger allows you to receive money from any ledger, without setting up accounts on lots of different services.</p>                      
                              </div>
          
                              <div class="col-sm-8 col-xs-12">
                                      <ul class="nav nav-tabs">
                                              <li class="active"><a data-toggle="tab" href="#js1">Javascript</a></li>
                                              <li class="teaser"><a data-toggle="tab" href="#menu1">&#43;</a></li>
                                          </ul>
                            
                                          <div class="tab-content">
                                              <div id="js1" class="tab-pane active">
<pre><code>const Koa = require('koa')
const router = require('koa-router')()
const app = new Koa()

const KoaIlp = require('koa-ilp')
const plugin = require('ilp-plugin')()
const ilp = new KoaIlp({ plugin })

router.get('/', ilp.paid({ price: 1000 }), async ctx => {
    ctx.body = 'Hello World!'
})

app
    .use(router.routes())
    .use(router.allowedMethods())
    .listen(8080)</code></pre>
                                              </div>
                            
                                              <div id="menu1" class="tab-pane">
<pre><code>
&lt;!-- Don’t see your language here? --&gt;

Help implement Interledger in your
favorite programming language.
<p><a class="btn btn-primary btn-lg getting-started-button contribute" target="_blank" href="https://github.com/interledger" role="button">Contribute</a></p>
</code></pre>
                                              </div>
                                          </div>
          
                              </div>
          
                        </div>
          
                       
          
                    </div>
          
                </div>
          
            </div><!-- /container -->

        </div>

            <div class="container">
                <div class="row get-started">
                    <div class='col-sm-6 col-xs-12 pt-5 mt-5'>
                        <div class="text-center">
                            <a class="btn btn-primary btn-lg" href="/getting-started.html" role="button">Get Started with Interledger</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <H3>Updates</H3>
                        <span><h5>5 Apr 2019</h5><p>2019 ILP Summit held in San Francisco</p></span>
                        <span><h5>3 Oct 2018</h5><p>Interledger: How To Interconnect All Blockchains and Value Networks</p></span>
                        <span><h5>28 Aug 2018</h5><p>Coil.com launches beta subscription for Web Monetization</p></span>
                    </div>
                </div>
            </div>




{% endblock %}