{% extends "template-base.html" %}
{% block head %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block bodyclasses %}no-sidebar{% endblock %}
{% block mainclasses %}landing{% endblock %}

{% block breadcrumbs %}{% endblock %}



{% block main %}

<div class="jumbotron">
  <div class="container">
      <div class="row">
          
      
      <div class="col-sm-6">
          <h1><b>Interledger</b> is an open protocol suite for sending payments across different ledgers.</h1>
          <p>Interledger is an open protocol suite for sending payments across different ledgers. Like the Internet, connectors route packets of money across independent networks. The open architecture and minimal protocol enable interoperability for any value transfer system. </p><p> Interledger is not tied to a single company, blockchain, or currency.</p>
          
      </div>
      <div class="col-sm-6">
        <p><a class="btn btn-primary btn-lg getting-started-button" href="/getting-started.html" role="button">Get Started</a></p>
    </div>
</div>
  </div>
</div>



<div class="container">
  
  <!-- benefits section -->
  <div class="row">
        <div class='col-sm-12 col-xs-12'>
            <div class="row">
                    <div class="mx-auto pt-5 pb-5">
                            <h2>Interledger Features</h2>
                    </div>
                </div>

        <img class=" img-responsive" src="/assets/img/features.png">
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="benefit col-sm-4">
              <h3>Code With Money</h3>
              <p>Add payments without being tied to a single currency or payment provider.</p>
          </div>
          <div class="benefit col-sm-4">
              <h3>Multi-Hop Routing</h3>
              <p>Send payments to other ledgers, even if they are multiple hops away.</p>
          </div>
          <div class="benefit col-sm-4">
              <h3>Simple Protocol</h3>
              <p>Inspired by TCP/IP, Interledger is easy to implement and use.</p>
          </div>
      </div>
  </div>

</div> <!-- /container -->

  <!-- example section -->
  <div class="example-wrapper">
        <div class="container">
      
                <div class="row ">
                    <div class='col-sm-12 col-xs-12 '>
                      
                            <div class="row">
                                    <div class="mx-auto pt-5 pb-5">
                                      <h2>Develop for Interledger</h2>
                                    </div>
                                </div>

                          <div class="row">
                                  <div class="col-sm-4 col-xs-12  pt-5 mt-5">


                                            <svg width="154" height="34" viewBox="0 0 154 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M-1.48619e-06 34L0 -2.09815e-06L30.1508 -7.80212e-07L48 16.9964L30.1508 34L-1.48619e-06 34Z" fill="#EA3646"/>
                                                <line x1="58" y1="17.5" x2="154" y2="17.5" stroke="#EA3646" stroke-width="3"/>
                                                </svg>
                                                


                                          <h2 class="simple">Simple Sending</h2>
                                          <p class="example-intro">Interledger makes it easy to send money, no matter what ledger you or the recipient are on.</p>
                                  </div>
                                  <div class="col-sm-8 col-xs-12">
                                      <ul class="nav nav-tabs">
                                              <li class="active"><a data-toggle="tab" href="#js2">Javascript</a></li>
                                              <li class="teaser"><a data-toggle="tab" href="#sh2">Command-Line</a></li>
                                              <li class="teaser"><a data-toggle="tab" href="#menu2">&#43;</a></li>
                                          </ul>
                              
                                          <div class="tab-content">
                                              <div id="js2" class="tab-pane active">
<pre><code>const plugin = require('ilp-plugin')()
const fetch = require('ilp-fetch')

fetch('http://localhost:8080/', {
method: 'GET',
maxPrice: 5000,
plugin
})
.then(response => {
console.log('paid!')
console.log('got response:', response.text)
})</code></pre>
                                              </div>
                              
                                              <div id="sh2" class="tab-pane">
<pre><code>$ npm install -g ilp-curl moneyd
$ moneyd configure --testnet
$ moneyd start --testnet
$ ilp-curl -X GET http://localhost:8080/
Hello World!</code></pre>
                                              </div>
                              
                                              <div id="menu2" class="tab-pane">
<pre><code>
&lt;!-- Don’t see your language here? --&gt;

Help implement Interledger in your
favorite programming language.
    <p><a class="btn btn-primary btn-lg getting-started-button contribute" target="_blank" href="https://github.com/interledger" role="button">Contribute</a></p>
</code></pre>
                                              </div>
                                          </div>
                                  </div>
                            </div>
                      
                      
          
                        <div class="row example-middle">
                              <div class=" ">
                                      <div class="col-sm-6 hidden-xs float-left">


                                            <svg width="400" height="198" viewBox="0 0 475 198" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M416.845 110.227L383.571 129.313C347.753 149.859 303.771 150.066 267.762 129.856L189.631 86.0072C153.467 65.7108 109.275 66.0115 73.3907 86.7984L17 119.464" stroke="url(#paint0_linear)" stroke-width="1.61843" stroke-miterlimit="10"/>
                                                <path d="M380.547 152.109V152.109C357.409 165.75 328.737 165.952 305.409 152.638L189.692 86.5959C153.515 65.9485 109.102 66.0293 72.9999 86.8082L18 118.464" stroke="url(#paint1_linear)" stroke-width="1.21382" stroke-miterlimit="10"/>
                                                <path d="M456 47L346.732 110.089C310.375 131.081 265.575 131.049 229.248 110.007L190.006 87.2754C153.679 66.2324 108.876 66.2016 72.5199 87.1945L17.5 118.964" stroke="url(#paint2_linear)" stroke-width="8" stroke-miterlimit="10"/>
                                                <path d="M439.847 78.2201L401.652 56.1715L435.589 36.5697L474.783 36L473.784 58.6276L439.847 78.2201Z" fill="#7AB4B0"/>
                                                <ellipse cx="426.5" cy="104.5" rx="14.5" ry="8.5" stroke="#56C3C1" stroke-width="2"/>
                                                <path d="M427.632 104.687L434.923 104.7L434.914 103.326L427.625 103.313L427.603 99.0032L425.275 99L425.298 103.309L418 103.296L418.006 104.671L425.307 104.684L425.329 108.997L427.654 109L427.632 104.687Z" fill="#56C3C1"/>
                                                <ellipse cx="390.5" cy="146.5" rx="14.5" ry="8.5" stroke="#FED74C" stroke-width="2"/>
                                                <path d="M391.632 146.687L398.923 146.7L398.914 145.326L391.625 145.313L391.603 141.003L389.275 141L389.298 145.309L382 145.296L382.006 146.671L389.307 146.684L389.329 150.997L391.654 151L391.632 146.687Z" fill="#FED74C"/>
                                                <path d="M276.254 171.642L266.514 177.194" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M276.254 160.465L256.774 171.571" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M276.254 149.288L247.035 165.948" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M276.254 138.112L237.295 160.324" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M276.254 126.935L227.555 154.701" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M276.254 115.76L217.815 149.078" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M276.254 104.583L208.076 143.455" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M276.254 93.4079L198.336 137.831" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M276.254 82.231L188.596 132.208" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M276.254 71.0557L178.856 126.585" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M266.514 65.4324L178.856 115.41" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M178.856 104.232L256.774 59.8086" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M247.035 54.1858L178.856 93.0555" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M237.295 48.563L178.856 81.8806" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M227.555 42.9397L179.435 70.3744" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M217.816 37.3159L178.857 59.5276" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M208.075 31.6931L178.856 48.3511" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M198.336 26.0698L178.856 37.1757" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <path d="M188.596 20.4465L178.857 25.9986" stroke="#F9BD89" stroke-width="2.42764" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 7.28"/>
                                                <rect y="27" width="136" height="139" fill="#F6F5F4"/>
                                                <defs>
                                                <linearGradient id="paint0_linear" x1="166.998" y1="80.0963" x2="263.059" y2="99.1369" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#F37F64"/>
                                                <stop offset="1" stop-color="#56C3C1"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear" x1="166.998" y1="80.0964" x2="263.059" y2="99.137" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#F37F64"/>
                                                <stop offset="1" stop-color="#FED74C"/>
                                                </linearGradient>
                                                <linearGradient id="paint2_linear" x1="166.999" y1="80.096" x2="263.06" y2="99.1366" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#F37F64"/>
                                                <stop offset="1" stop-color="#7AB4B0"/>
                                                </linearGradient>
                                                </defs>
                                                </svg>
                                                
                                            

                                      </div>
                                      <!-- <div class="col-sm-3 col-xs-12"></div> -->
                                      <div class="col-sm-4 col-xs-12 float-left">
                                          <h2>Automated Routing</h2>
                                          <p>Interledger takes care of getting your money from ledger A to ledger Z, so you can get back
                                              to building awesome things! If you’re interested, <a
                                                  href="/rfcs/0001-interledger-architecture/">learn more about how the magic works.</a>
                                          </p>
                                      </div>
                                  </div>
                        
                        </div>
                        
                        
                        <div class="row">
          
                              <div class="col-sm-4 col-xs-12  pt-5 mt-5">
                                    <svg width="103" height="48" viewBox="0 0 103 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <line y1="24.5" x2="79" y2="24.5" stroke="#7AB4B0" stroke-width="3"/>
                                        <circle cx="79" cy="24" r="24" fill="#7AB4B0"/>
                                        </svg>

                                        
                                        
                                  <h2>Receiving Money</h2>
                                  <p class="example-intro">Interledger allows you to receive money from any ledger, without setting up accounts on lots of different services.</p>                      
                              </div>
          
                              <div class="col-sm-8 col-xs-12">
                                      <ul class="nav nav-tabs">
                                              <li class="active"><a data-toggle="tab" href="#js1">Javascript</a></li>
                                              <li class="teaser"><a data-toggle="tab" href="#menu1">&#43;</a></li>
                                          </ul>
                            
                                          <div class="tab-content">
                                              <div id="js1" class="tab-pane active">
<pre><code>const Koa = require('koa')
const router = require('koa-router')()
const app = new Koa()

const KoaIlp = require('koa-ilp')
const plugin = require('ilp-plugin')()
const ilp = new KoaIlp({ plugin })

router.get('/', ilp.paid({ price: 1000 }), async ctx => {
ctx.body = 'Hello World!'
})

app
.use(router.routes())
.use(router.allowedMethods())
.listen(8080)</code></pre>
                                              </div>
                            
                                              <div id="menu1" class="tab-pane">
                                                  <pre><code>
                            &lt;!-- Don’t see your language here? --&gt;
                            
                            Help implement Interledger in your
                            favorite programming language.
                                                  <p><a class="btn btn-primary btn-lg getting-started-button contribute" target="_blank" href="https://github.com/interledger" role="button">Contribute</a></p>
                                              </code></pre>
                                              </div>
                                          </div>
          
                              </div>
          
                        </div>
          
                       
          
                    </div>
          
                </div>
          
            </div><!-- /container -->

        </div>

            <div class="container">
                <div class="row get-started">
                    <div class='col-sm-6 col-xs-12 pt-5 mt-5'>
                        <div class="text-center">
                            <a class="btn btn-primary btn-lg" href="/getting-started.html" role="button">Get Started with Interledger</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <H3>Updates</H3>
                        <span><h5>5 Apr 2019</h5><p>2019 ILP Summit held in San Francisco</p></span>
                        <span><h5>3 Oct 2018</h5><p>Interledger: How To Interconnect All Blockchains and Value Networks</p></span>
                        <span><h5>28 Aug 2018</h5><p>Coil.com launches beta subscription for Web Monetization</p></span>
                    </div>
                </div>
            </div>




{% endblock %}