
    <div id="sidenav" class="tree_nav">
      <ul class=" sidebar_pagelist">
        <li class="nav-label">Quick Start</li>
        <li><a href="/overview.html">Overview</a></li>
        <li><a href="/getting-started.html">Getting Started</a></li>
      </ul>
      <ul class=" sidebar_pagelist">
        <li class="nav-label">Community Resources</li>
        <li><a href="https://medium.com/interledger-blog">Blog &amp; Tutorials</a></li>
        <li><a href="/libraries.html">Libraries &amp; Tools</a></li>
        <li><a href="/summit-2019.html">ILP Summit 2019 Videos</a></li>
      </ul>

      <div class="sidebar-nav-header">Specs</div>
      <ul class=" sidebar_pagelist sidebar_indent">
        <!--    <li><a href="/rfcs/0001-interledger-architecture/">Interledger Architecture</a></li> -->
        <li><a href="/rfcs/0027-interledger-protocol-4/">Interledger Protocol 4 (ILPv4)</a></li>
        <li><a href="/rfcs/0015-ilp-addresses/">Interledger Addresses</a></li>
        <li><a href="/rfcs/0029-stream/">STREAM Protocol</a></li>
        <li><a href="/rfcs/0009-simple-payment-setup-protocol/">Simple Payment Setup Protocol (SPSP)</a></li>
        <li><a href="/rfcs/0026-payment-pointers/">Payment Pointers</a></li>
        <li><a href="/rfcs/0028-web-monetization/">Web Monetization</a></li>
        <li><a href="/rfcs/0030-notes-on-oer-encoding/">Notes on OER encoding</a></li>
        <li><a href="/rfcs/0031-dynamic-configuration-protocol/">Dynamic Configuration Protocol (ILDCP)</a></li>
        <li><a href="/rfcs/0032-peering-clearing-settlement/">Peering, Clearing and Settlement</a></li>
        <li><a href="/rfcs/0035-ilp-over-http/">ILP over HTTP</a></li>
        <li><a href="/rfcs/0036-spsp-pull-payments/">SPSP Pull Payments</a></li>
        <li><a target="_blank" href="https://w3c.github.io/webpayments/proposals/interledger-payment-method.html">W3C Web Payments</a></li>

      </ul>
    </div>
